html{
    background-color: #eeeeee;
    height: 100%;
}
.body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.container {
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 350px 1300px 100px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 5px 5px grey;
    position: relative;
}
.container div {
    background: #d1dfe4;
    color: rgb(41, 41, 46);
}
.header {
    grid-column: 1 / 6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    padding: 0;
    border-right: thick solid rgb(41, 41, 46);
}
.button {
    background-color: #d1dfe4;
    border: none;
    color: rgb(41, 41, 46);
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: left;
}
.navbar ul{
    list-style-type: none;
}
.navbar button:hover{
    background-color: rgb(161, 161, 185);
    padding: 25px;
}
.main {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 30px;
    border-right: thick solid rgb(41, 41, 46);
    padding: 20px;
}
.footer {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    border-bottom-left-radius: 10px;
}