html{
    background-color: #e6e6e6;
    height: 100%;
} /* for background color*/
#intextpic {
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.container {
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 140px 360px 1300px 100px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    position: relative;
}
h2 {
    text-align: center;
} /*content in mainsection is justified*/
.container div {
    background: #d1dfe4;
    color: rgb(41, 41, 46);
}
.header {
    grid-column: 1 / 6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: thick solid rgb(41, 41, 46);
}
.navbar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    padding: 0;
    margin-top: 0;
    border-right: thick solid rgb(41, 41, 46);
}
.navbar ul{
    list-style-type: none;
} /*remove bullets*/
.navbar a{
    color: rgb(41, 41, 46);
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    text-align: left;
    padding: 15px 10px;
}
.navbar a:hover{
    background-color: rgb(161, 161, 185);
    padding: 25px;
} /*make nav choice enlarge when hover*/
.current{
    background-color: rgb(161, 161, 185);
    padding: 25px;
} /*keep current page highlighted*/
.main {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
}
.fleft {
    float: left;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
} /*float left and curver borders of imgs*/
.fright {
    float: right;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}/*float right and curver borders of imgs*/
.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 30px;
    border-right: thick solid rgb(41, 41, 46);
    padding: 20px;
}
.footer {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: thick solid rgb(41, 41, 46);
}